.product{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.product-name h3{
    margin-left: 10px;
    color: blue;
    font-weight: normal;
    font-size: 18px;
}
.product-button{
    background-color: gold;
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}