.header img{
    height: 100px;
}
.header{
    text-align: center;
}
nav{
    background-color: black;
    line-height: 60px;
}
nav a{
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}